{% extends './dashboard.html' %}
<!-- Se incluye en archivo de base con lo demás -->
{% block title %}
  Registro actividad tutorial
{% endblock %} <!-- Se cambia el título -->

{% block body %}
  <!-- Esta es para el navbar -->
  <div class="formsAgregar" style="background-color: #F4F4F4">
    <center>
      <h3 class="titulos mt-3">Actividad tutorial</h3>
    </center>

    <div class="row py-4 mx-4">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <!-- Contenido de la primera columna -->

        <label class="mt-2">Tema</label>
        <input type="text" class="form-control" />
        <label class="mt-2">Objetivos</label>
        <textarea class="form-control" rows="3"></textarea>
        <label class="mt-2">Recursos</label>
        <textarea class="form-control" rows="3"></textarea>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <label class="mt-2">Actividades</label>
        <textarea class="form-control" rows="6"></textarea>
        <label class="mt-2">Evidencia</label>
        <input type="file" multiple class="form-control" />

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a class="btn btn-secondary botonesGrises mt-2" href="{% url 'actividadTutorial' %}">Cerrar</a>
          <a type="submit" class="btn btn-success botonesVerdes mt-2" onclick="return confirmarAgregar()">Guardar</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
