{% extends './dashboard.html' %}
<!-- Se incluye en archivo de base con lo demás -->
{% block title %}
Evaluar al tutor
{% endblock %}

{% block body %}
<center>
    <h3 class="titulos">Evaluar Actividad Tutorial</h3>
</center>
<br>
<form action="" method="post"> {% csrf_token %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <label for="Tutor">Nombre del tutor: {{nombre_maestro}}</label>
            </div>
            <div class="col-4">
                <label for="Fecha">Fecha:</label>
                <p style="display: inline-block; margin-left: 10px;" id="fecha"></p>
            </div>
        </div>

        <div class="row ">
            <div class="col">
                <label for="Alumno">Nombre del alumno: {{ user.get_full_name }}</label>
            </div>
        </div>
    </div>
   
        <div class="tabla p-4">
            <div class="container text-center">

                <div class="row">
                    <div class="col">
                        <label for="Quest">1. ¿El tutor se presentó de manera puntual al grupo?.</label>
                        <div class="cuestionario" style="display: flex; gap: 10px;" >
                            <label>
                                <input type="radio" name="puntualidad" id="puntualidad" value="1" required> 1 = Nunca (No)
                            </label>
                            <label>
                                <input type="radio" name="puntualidad" id="puntualidad" value="2" > 2 = Casi nunca
                            </label>
                            <label>
                                <input type="radio" name="puntualidad" id="puntualidad" value="3" > 3 = Casi siempre
                            </label>
                            <label>
                                <input type="radio" name="puntualidad" id="puntualidad" value="4" > 4 = Siempre (Sí)
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Quest">2. ¿Explicó el propósito de las tutorías?</label>
                        <div class="cuestionario" style="display: flex; gap: 10px;">
                            <label>
                                <input type="radio" name="proposito" id="proposito" value="1" required> 1 = Nunca (No)
                            </label>
                            <label>
                                <input type="radio" name="proposito" id="proposito" value="2"> 2 = Casi nunca
                            </label>
                            <label>
                                <input type="radio" name="proposito" id="proposito" value="3"> 3 = Casi siempre
                            </label>
                            <label>
                                <input type="radio" name="proposito" id="proposito" value="4"> 4 = Siempre (Sí)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="Quest">3. ¿El tutor presentó un plan de trabajo (temas) para las sesiones
                            grupales?</label>
                        <div class="cuestionario" style="display: flex; gap: 10px;">
                            <label>
                                <input type="radio" name="planTrabajo" id="planTrabajo" value="1" required> 1 = Nunca (No)
                            </label>
                            <label>
                                <input type="radio" name="planTrabajo" id="planTrabajo" value="2"> 2 = Casi nunca
                            </label>
                            <label>
                                <input type="radio" name="planTrabajo" id="planTrabajo" value="3"> 3 = Casi siempre
                            </label>
                            <label>
                                <input type="radio" name="planTrabajo" id="planTrabajo" value="4"> 4 = Siempre (Sí)
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Quest">4. ¿Los temas propuestos para las sesiones grupales fueron abordados según lo
                            previsto?</label>
                        <div class="cuestionario" style="display: flex; gap: 10px;">
                            <label>
                                <input type="radio" name="temasPrevistos" id="temasPrevistos" value="1" required> 1 = Nunca (No)
                            </label>
                            <label>
                                <input type="radio" name="temasPrevistos" id="temasPrevistos" value="2"> 2 = Casi nunca
                            </label>
                            <label>
                                <input type="radio" name="temasPrevistos" id="temasPrevistos" value="3"> 3 = Casi siempre
                            </label>
                            <label>
                                <input type="radio" name="temasPrevistos" id="temasPrevistos" value="4"> 4 = Siempre (Sí)
                            </label>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <label for="Quest">5. ¿En las sesiones de tutorías se abordaron temas de interés o problemáticas
                            grupales.</label>
                        <div class="cuestionario" style="display: flex; gap: 10px;">
                            <label>
                                <input type="radio" name="temasInteres" id="temasInteres" value="1" required> 1 = Nunca (No)
                            </label>
                            <label>
                                <input type="radio" name="temasInteres" id="temasInteres" value="2"> 2 = Casi nunca
                            </label>
                            <label>
                                <input type="radio" name="temasInteres" id="temasInteres" value="3"> 3 = Casi siempre
                            </label>
                            <label>
                                <input type="radio" name="temasInteres" id="temasInteres" value="4"> 4 = Siempre (Sí)
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Quest">6. ¿El tutor mostró disposición para atenderte cuando tenías una preocupación
                            o problema individual sea de carácter personal o académico.</label>
                        <div class="cuestionario" style="display: flex; gap: 10px;">
                            <label>
                                <input type="radio" name="disposicionTutor" id="disposicionTutor" value="1" required> 1 = Nunca (No)
                            </label>
                            <label>
                                <input type="radio" name="disposicionTutor" id="disposicionTutor" value="2"> 2 = Casi nunca
                            </label>
                            <label>
                                <input type="radio" name="disposicionTutor" id="disposicionTutor" value="3"> 3 = Casi siempre
                            </label>
                            <label>
                                <input type="radio" name="disposicionTutor" id="disposicionTutor" value="4"> 4 = Siempre (Sí)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="Quest">7. ¿El tutor mostró cordialidad y capacidad para crear una clima de confianza
                            para exponer problemáticas individuales.</label>
                        <div class="cuestionario" style="display: flex; gap: 10px;">
                            <label>
                                <input type="radio" name="cordialidad" id="cordialidad" value="1"required> 1 = Nunca (No)
                            </label>
                            <label>
                                <input type="radio" name="cordialidad" id="cordialidad" value="2"> 2 = Casi nunca
                            </label>
                            <label>
                                <input type="radio" name="cordialidad" id="cordialidad" value="3"> 3 = Casi siempre
                            </label>
                            <label>
                                <input type="radio" name="cordialidad" id="cordialidad" value="4"> 4 = Siempre (Sí)
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Quest">8. ¿El tutor pudo atender adecuadamente las problemáticas presentadas
                            ofreciendo orientación para resolverlas.</label>
                        <div class="cuestionario" style="display: flex; gap: 10px;">
                            <label>
                                <input type="radio" name="orientacion"id="orientacion" value="1" required> 1 = Nunca (No)
                            </label>
                            <label>
                                <input type="radio" name="orientacion" id="orientacion" value="2"> 2 = Casi nunca
                            </label>
                            <label>
                                <input type="radio" name="orientacion" id="orientacion" value="3"> 3 = Casi siempre
                            </label>
                            <label>
                                <input type="radio" name="orientacion" id="orientacion" value="4"> 4 = Siempre (Sí)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="Quest">9. ¿El tutor mostró dominio de temas pedagógicos para la atención grupal e
                            individualizada como por ejemplo en relación a técnicas de estudio, de lectura, etc.</label>
                        <div class="cuestionario" style="display: flex; gap: 10px;">
                            <label>
                                <input type="radio" name="dominio" id="dominio" value="1" required> 1 = Nunca (No)
                            </label>
                            <label>
                                <input type="radio" name="dominio" id="dominio" value="2"> 2 = Casi nunca
                            </label>
                            <label>
                                <input type="radio" name="dominio" id="dominio" value="3"> 3 = Casi siempre
                            </label>
                            <label>
                                <input type="radio" name="dominio" id="dominio" value="4"> 4 = Siempre (Sí)
                            </label>
                        </div>
                    </div>
                    <div class="col">
                        <label for="Quest">10. ¿Las tutorías impactaron de manera positiva en mi desempeño académico y/o
                            en mi desarrollo personal y profesional.</label>
                        <div class="cuestionario" style="display: flex; gap: 10px;">
                            <label>
                                <input type="radio" name="impacto" id="impacto" value="1" required> 1 = Nunca (No)
                            </label>
                            <label>
                                <input type="radio" name="impacto" id="impacto" value="2"> 2 = Casi nunca
                            </label>
                            <label>
                                <input type="radio" name="impacto" id="impacto" value="3"> 3 = Casi siempre
                            </label>
                            <label>
                                <input type="radio" name="impacto" id="impacto" value="4"> 4 = Siempre (Sí)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="Quest">11. ¿El personal de los servicios de apoyo (psicopedagógico, enfermería,
                            becas, incubadora,) atendió adecuadamente mis necesidades.</label>
                        <div class="cuestionario" style="display: flex; gap: 10px;">
                            <label>
                                <input type="radio" name="serviciosApoyo" id="serviciosApoyo" value="1" required> 1 = Nunca (No)
                            </label>
                            <label>
                                <input type="radio" name="serviciosApoyo" id="serviciosApoyo" value="2"> 2 = Casi nunca
                            </label>
                            <label>
                                <input type="radio" name="serviciosApoyo" id="serviciosApoyo" value="3"> 3 = Casi siempre
                            </label>
                            <label>
                                <input type="radio" name="serviciosApoyo" id="serviciosApoyo" value="4"> 4 = Siempre (Sí)
                            </label>
                        </div>
                    </div>
                    <div id="botonEnvio">
                        <button type="submit" class="btn btn-success">Guardar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</form>


<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 5;">
    {% if messages %}
      {% for message in messages %}
        {% if message.tags == "success" %}
          <div id="box" class="alert alert-success alert-dismissible fade show shadow custom-messages">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong class="text-dark">{{ message }}</strong>
          </div>
        {% elif message.tags == "error" %}
          <div id="box" class="alert alert-danger alert-dismissible fade show shadow custom-messages">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong class="text-dark">{{ message }}</strong>
          </div>
        {% else %}
          <div id="box" class="alert alert-warning alert-dismissible fade show shadow custom-messages">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong class="text-dark">{{ message }}</strong>
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
</div>

{% endblock %}