{% extends './dashboard.html' %}
<!-- Se incluye en archivo de base con lo demás -->
{% block title %}
Registro de atención individual
{% endblock %} <!-- Se cambia el título -->

{% block body %}

<div class="formsAgregar">

  <div class="card-body ">
    <h4 class="titulos mt-3 text-center" style="color: #00005e;">Registro de atención individual</h4>
    <form>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <div class="input-group">
              <select class="form-select" id="nombre">
                <option>Juan</option>

              </select>
            </div>
          </div>
          <div class="mb-3">
            <label for="asunto" class="form-label">Asunto a tratar</label>
            <textarea class="form-control" id="asunto" rows="3"></textarea>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="observaciones" class="form-label">Observaciones</label>
            <textarea class="form-control" id="observaciones" rows="5"></textarea>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <a class="btn btn-secondary me-2" href="{% url 'atencionIndividual' %}">Cerrar</a>
        <button type="submit" class="btn btn-success">Registrar</button>
      </div>
    </form>
  </div>
</div>
</div>{% endblock %}