{% extends 'dashboard.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <h1 class="mb-4">Informe de respuestas</h1>
        <div class="table-responsive">
            <table id="informeTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Alumno</th>
                        <th>No.Control</th>
                        <th>Carrera</th>
                        <th>Grado y grupo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- datos de prueba -->
                    <tr>
                        <td>Isa</td>
                        <td>20210119</td>
                        <td>TICS</td>
                        <td>9-IDG-1</td>
                        <td>
                            <button class="btn btn-primary btn-sm">Ver</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}