{% extends 'dashboard.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <!-- PESTAÑAS -->
           <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="datos-identificacion-tab" data-bs-toggle="tab" data-bs-target="#datos-identificacion" type="button" role="tab" aria-controls="datos-identificacion" aria-selected="true">Datos de Identificación</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="datos-familiares-tab" data-bs-toggle="tab" data-bs-target="#datos-familiares" type="button" role="tab" aria-controls="datos-familiares" aria-selected="false">Datos familiares</button>
            </li>
            <!-- <li class="nav-item" role="presentation">
              <button class="nav-link" id="datos-socioeconomicos-tab" data-bs-toggle="tab" data-bs-target="#datos-socioeconomicos" type="button" role="tab" aria-controls="datos-socioeconomicos" aria-selected="false">Datos socioeconómicos</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="datos-academicos-tab" data-bs-toggle="tab" data-bs-target="#datos-academicos" type="button" role="tab" aria-controls="datos-academicos" aria-selected="false">Antecedentes académicos</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="datos-estudio-tab" data-bs-toggle="tab" data-bs-target="#datos-estudio" type="button" role="tab" aria-controls="datos-estudio" aria-selected="false">Hábitos de estudio</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="datos-aficiones-tab" data-bs-toggle="tab" data-bs-target="#datos-aficiones" type="button" role="tab" aria-controls="datos-aficiones" aria-selected="false">Aficiones</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="datos-personalidad-tab" data-bs-toggle="tab" data-bs-target="#datos-personalidad" type="button" role="tab" aria-controls="datos-personalidad" aria-selected="false">Personalidad</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="datos-rasgos-tab" data-bs-toggle="tab" data-bs-target="#datos-rasgos" type="button" role="tab" aria-controls="datos-rasgos" aria-selected="false">Rasgos</button>
            </li>
             <li class="nav-item" role="presentation">
                    <button class="nav-link" id="datos-salud-tab" data-bs-toggle="tab" data-bs-target="#datos-salud" type="button" role="tab" aria-controls="datos-salud" aria-selected="false">Salud</button>
            </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="datos-salud-tab" data-bs-toggle="tab" data-bs-target="#datos-salud" type="button" role="tab" aria-controls="datos-salud" aria-selected="false">Salud</button>
            </li> -->
           </ul>
            <!-- FORMULARIO -->
            <form id="formDatos" action="{% url 'crearEstudiante' %}" method="POST">
            {% csrf_token %}
             <div class="tab-content" id="myTabContent">
              <!-- DATOS DE IDENTIFICACION -->
              <div class="tab-pane fade show active" id="datos-identificacion" role="tabpanel" aria-labelledby="datos-identificacion-tab">
                <div class="row">
                  <div  class="col-md-6 mb-3"><br>
                    <label for="noControl" class="form-label">Número de control</label>
                      <input type="text" class="form-control" id="noControl" name="noControl" required maxlength="8" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                      <br>
                      <label for="nombre" class="form-label">Nombre del Alumno</label>
                      <input type="text" class="form-control" id="nombre" name="nombre" required oninput="this.value = this.value.replace(/[^A-Za-zÁÉÍÓÚáéíóúÑñ\s]/g, '')">
                      <br>
                      <label for="carrera" class="form-label">Carrera</label>
                      <select class="form-control" id="carrera" name="carrera" required>
                        <option value="">Selecciona una carrera</option>
                        <option value="Licenciatura en Diseño y Gestión de Redes Logísticas">Licenciatura en Diseño y Gestión de Redes Logísticas</option>
                        <option value="Ingeniería en Energías Renovables">Ingeniería en Energías Renovables</option>
                        <option value="Licenciatura en Contaduría">Licenciatura en Contaduría</option>
                        <option value="Licenciatura en Gastronomía">Licenciatura en Gastronomía</option>
                        <option value="Ingeniería en Logística Comercial Global">Ingeniería en Logística Comercial Global</option>
                        <option value="Ingeniería en Mantenimiento Industrial">Ingeniería en Mantenimiento Industrial</option>
                        <option value="Ingeniería en Procesos Químicos">Ingeniería en Procesos Químicos</option>
                        <option value="Ingeniería en Desarrollo y Gestión de Software">Ingeniería en Desarrollo y Gestión de Software</option>
                      </select>
                      <br>
                      <label for="tutor" class="form-label">Tutor</label>
                      <select class="form-control" id="tutor" name="tutor" required>
                        <option value="">Selecciona un tutor</option>
                        <option value="Guillermo Jair Rincón Cruzado">Guillermo Jair Rincón Cruzado</option>
                        <option value="Miriam Minerva Jiménez Lara">Miriam Minerva Jiménez Lara</option>
                        <option value="Heriberto Pérez Romero">Heriberto Pérez Romero</option>
                        <option value="Alicia Judith Figueroa García">Alicia Judith Figueroa García</option>
                        <option value="Juan Ríos Hernández">Juan Ríos Hernández</option>
                        <option value="Francisco Fortino Güereña Galaz">Francisco Fortino Güereña Galaz</option>
                        <option value="David Manuel Ramos Sánchez">David Manuel Ramos Sánchez</option>
                        <option value="Juan Manuel Fernández Álvarez">Juan Manuel Fernández Álvarez</option>    
                      </select>
                      <br>
                      <label for="grupo" class="form-label">Grupo</label>
                      <select class="form-control" id="grupo" name="grupo" required>
                        <option value="">Selecciona un grupo</option>
                        <option value="1-GAS-1">1-GAS-1</option>
                        <option value="9-IDG-1">9-IDG-1</option>
                        <option value="4-TID-1">4-TID-1</option>
                      </select>
                  </div>
                  <div class="col-md-6 mb-3"><br>
                    <label for="fechaR" class="form-label">Fecha</label>
                      <input type="date" class="form-control" id="fechaR" name="fechaR" required>
                    <br>
                      <label for="telCasa" class="form-label">Teléfono de Casa</label>
                      <input type="text" class="form-control" id="telCasa" name="telCasa" required maxlength="10" oninput="this.value = this.value.replace(/[^0-9]/g, '')" >
                    <br>
                      <label for="correo" class="form-label">Correo Electrónico</label>
                      <input type="email" class="form-control" id="correo" name="correo" required>
                    <br>
                      <label for="telCelular" class="form-label">Número de Celular</label>
                      <input type="text" class="form-control" id="telCelular" name="telCelular" required maxlength="10" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                    <br>
                      <label for="edad" class="form-label">Edad</label>
                      <select class="form-control" id="edad" name="edad" required>
                        <option value="">Selecciona una opción</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="Más de 30">Más de 30</option>
                      </select>
                  </div>
                </div>
              </div>
              <!--DATOS FAMILIARES -->
              <div class="tab-pane fade" id="datos-familiares" role="tabpanel" aria-labelledby="datos-familiares-tab">
                <div class="row">
                  <div class="col-md-6 mb-3"><br>
                    <label for="conviveCon" class="form-label">¿Con quién vives?</label>
                    <select class="form-control" id="conviveCon" name="conviveCon" required>
                      <option value="">Selecciona una opción</option>
                      <option value="Mis papás">Mis papás</option>
                      <option value="Con mi papá">Con mi papá</option>
                      <option value="Con mi mamá">Con mi mamá</option>
                      <option value="Con mis parientes(tíos,abuelos,etc.)">Con mis parientes(tíos,abuelos,etc.)</option>
                      <option value="Con mis amigos">Con mis amigos</option>
                      <option value="Solo">Solo</option>
                      <option value="Otra situación">Otra situación</option>
                    </select><br>
                    <label for="otra_situacion" class="form-label">Si "otra situación", descríbela</label>
                    <input type="text" class="form-control" id="otra_situacion" name="otra_situacion" required oninput="this.value = this.value.replace(/[^A-Za-zÁÉÍÓÚáéíóúÑñ\s]/g, '')">
                  </div>
                  <div class="col-md-6 mb-3"><br>
                    <label for="huerfano" class="form-label">¿Eres huérfano?</label>
                    <select class="form-control" id="huerfano" name="huerfano" required>
                      <option value="">Selecciona una opción</option>
                      <option value="1">Si</option>
                      <option value="0">No</option>
                    </select><br>
                      <label for="huerfanoQuien" class="form-label">¿De?</label>
                      <select class="form-control" id="huerfanoQuien" name="huerfanoQuien" required>
                        <option value="">Selecciona una opción</option>
                        <option value="No aplica">No aplica</option>
                        <option value="Padre">Padre</option>
                        <option value="Madre">Madre</option>
                        <option value="Ambos">Ambos</option>
                      </select>
                  </div>
                  <div  class="col-md-6 mb-3">
                    <label for="totalHermanos" class="form-label">Número de hermanos(as)</label>
                    <select class="form-control" id="totalHermanos" name="totalHermanos" required>
                      <option value="">Selecciona una opción</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="Más de 10">Más de 10</option>
                    </select><br>
                    <label for="lugarHermano" class="form-label">Lugar que ocupas</label>
                      <select class="form-control" id="lugarHermano" name="lugarHermano" required>
                          <option value="">Selecciona una opción</option>
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                        </select>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="estadoCivil" class="form-label">Estado civil</label>
                      <select class="form-control" id="estadoCivil" name="estadoCivil" required>
                        <option value="">Selecciona una opción</option>
                        <option value="Soltero">Soltero</option>
                        <option value="Casado">Casado</option>
                        <option value="Unión libre">Unión libre</option>
                        <option value="Divorciado(a)">Divorciado(a)</option>
                      </select>
                  </div>
                </div>
              </div>
               <!--DATOS FAMILIARES -->

              
               <!-- BOTONES PARA DESPLAZAR DE PESTAÑA -->
            <div class="d-flex justify-content-between mt-3">
              <button type="button" class="btn btn-secondary" id="prevButton" style="display: none;">Anterior</button>
              <button type="button" class="btn btn-primary" id="nextButton">Siguiente</button>
              <button type="submit" class="btn btn-success" id="submitBtn" style="display: none;">Enviar</button>
            </div>
    
             </div>
             </form>
                
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}