{%extends '../dashboard.html'%}
{%load static%}
{%block content%}
<link href="{% static 'css/stylesCanalizacion.css' %}" rel="stylesheet" type="text/css">
<div class="containerCanalizacion">

    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa-solid fa-users"></i><a href="{% url 'Dashboard' %}">Canalización</a></li>
            <li class="breadcrumb-item" aria-current="page">Generar nueva canalización</li>
        </ol>
    </nav>

    <div class="cardFormulario">

        <h3 class="formTitulo">Registro de canalización</h3>
        <span style="font-size: small;">Rellena la información completa para el registro de la nueva
            canalización.</span><br><br>

        <form action="{% url 'canalizacionFormCanalizarAlumno' %}" method="POST">
            {% csrf_token %}
            <label class="labelFormCanalizacion">Área:</label><br>
            <select id="area" name="area" class="formSelect" required>
                <option value="" style="display: none;"></option>
                <option value="psicologia">Psicología</option>
                <option value="enfermeria">Enfermería</option>
                <option value="trabajoSocial">Trabajo Social</option>
                <option value="orientacion">Orientación</option>
            </select>

            <label class="labelFormCanalizacion">Motivo:</label><br>
            <textarea name="motivo" id="motivo" class="formTextarea" rows="7" required></textarea>

            <label class="labelFormCanalizacion">Observaciones:</label><br>
            <textarea name="observaciones" id="observaciones" class="formTextarea" rows="7" required></textarea>

            <div class="btnsFormCanalizacion">
                <a class="btnRegresar" href="{% url 'Dashboard' %}">Regresar</a>

                <button class="btnEnviar" type="submit">Enviar</button>
            </div>

        </form>

    </div>

</div>
{% endblock %}
<script src="https://kit.fontawesome.com/76cbf2a826.js" crossorigin="anonymous"></script>