{%extends '../dashboard.html'%}
{%load static%}
{%block content%}
<link href="{% static 'css/stylesCanalizacion.css' %}" rel="stylesheet" type="text/css">
<div class="containerCanalizacion">

    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa-solid fa-users"></i><a href="{% url 'ResultadosCanalizacion' %}">Alumnos canalizados</a></li>
            <li class="breadcrumb-item" aria-current="page">Asignar cita</li>
        </ol>
    </nav>

    <div class="cardFormulario">

        <h3 class="formTitulo">Registro de cita</h3>
        <span style="font-size: small;">Rellena la información completa para el registro de la cita.</span><br><br>

        <form action="{% url 'canalizacionFormCanalizarAlumno' %}" method="POST">
            {% csrf_token %}
            <label class="labelFormCanalizacion">Título</label><br>
            <input type="text" name="titulo" id="titulo" class="formInput" required>

            <label class="labelFormCanalizacion">Descripción:</label><br>
            <textarea name="descripcion" id="descripcion" class="formTextarea" rows="7" required></textarea>

            <label class="labelFormCanalizacion">Fecha de inicio:</label><br>
            <input type="datetime-local" name="fechaInicio" id="fechaInicio" class="formInput" required>

            <label class="labelFormCanalizacion">Fecha final:</label><br>
            <input type="datetime-local" name="fechaFinal" id="fechaFinal" class="formInput" required>

            <div class="btnsFormCanalizacion">
                <a class="btnRegresar" href="{% url 'ResultadosCanalizacion' %}">Regresar</a>

                <button class="btnEnviar" type="submit">Enviar</button>
            </div>

        </form>

    </div>

</div>
{% endblock %}
<script src="https://kit.fontawesome.com/76cbf2a826.js" crossorigin="anonymous"></script>