{%extends '../dashboard.html'%}
{%load static%}
{%block content%}
<link href="{% static 'css/stylesCanalizacion.css' %}" rel="stylesheet" type="text/css">
<div class="containerCanalizacion">

    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa-solid fa-users"></i><a href="{% url 'Dashboard' %}">Canalización</a></li>
            <li class="breadcrumb-item" aria-current="page">Generar nueva canalización</li>
        </ol>
    </nav>

    <div class="cardFormulario">

        <h3 class="formTitulo">Registro de canalización</h3>
        {% if canalizacion.estadoCanalizados != 1 and canalizacion.estadoCanalizados != 2 %}
        <span style="font-size: small;">Rellena la información completa para el registro de la nueva canalización.</span>
        {% endif %}
        <br><br>

        <form action="{% url 'canalizacionFormCanalizarAlumno' id %}" method="POST">
            {% csrf_token %}
            <label class="labelFormCanalizacion">Área:</label><br>
            {% if canalizacion.estadoCanalizados == 1 or canalizacion.estadoCanalizados == 2  %}
            <input type="text" name="area" id="area" class="formInput" value="{{canalizacion.area}}" readonly required>
            {% else %}
            <select id="area" name="area" class="formSelect" required>
                <option value="" style="display: none;"></option>
                <option value="Psicología">Psicología</option>
                <option value="Pedagogía">Pedagogía</option>
                <option value="Becas">Becas</option>
                <option value="Enfermería">Enfermería</option>
                <option value="Incubadora">Incubadora</option>
                <option value="Bolsa de trabajo">Bolsa de trabajo</option>
                <option value="Asesor académico">Asesor académico</option>
            </select>
            {% endif %}

            <label class="labelFormCanalizacion">Motivo:</label><br>
            <textarea name="motivo" id="motivo" class="formTextarea" rows="7" {% if canalizacion.estadoCanalizados == 1 or canalizacion.estadoCanalizados == 2 %} readonly {% endif %} required>{% if canalizacion.estadoCanalizados == 1 or canalizacion.estadoCanalizados == 2 %}{{canalizacion.motivo}}{% endif %}</textarea>

            <label class="labelFormCanalizacion">Observaciones:</label><br>
            <textarea name="observaciones" id="observaciones" class="formTextarea" rows="7" {% if canalizacion.estadoCanalizados == 1 or canalizacion.estadoCanalizados == 2 %} readonly {% endif %} required>{% if canalizacion.estadoCanalizados == 1 or canalizacion.estadoCanalizados == 2 %}{{canalizacion.observaciones}}{% endif %}</textarea>

            <div class="btnsFormCanalizacion">
                <a class="btnRegresar" href="{% url 'Dashboard' %}">Regresar</a>
                {% if canalizacion.estadoCanalizados != 1 and canalizacion.estadoCanalizados != 2 %}
                <button class="btnEnviar" type="submit">Enviar</button>
                {% endif %}
            </div>

        </form>

    </div>

</div>
{% endblock %}
<script src="https://kit.fontawesome.com/76cbf2a826.js" crossorigin="anonymous"></script>