{%extends '../dashboard.html'%}
{%load static%}
{%block content%}
<link href="{% static 'css/stylesCanalizacion.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/datatables.min.css' %}" rel="stylesheet" type="text/css">
<div class="containerCanalizacion">

    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa-solid fa-users"></i>Canalización</li>
        </ol>
    </nav>

    <div class="encabezadoCanalizacion">
        
        <h3>{{request.user.usuarios.grupo}}</h3>
        {% for periodoNom in Periodo %}
        <h3>{{periodoNom.periodo}} {{periodoNom.anio}}</h3>
        {% endfor %}

        <a class="btnCerrarTutorias" href="{% url 'FormCerrarTutorias' %}"><i class="fa-solid fa-lock"></i>Cerrar
            tutorias</a>
    </div>

    <table id="tablaCanalizacion" class="tablaCanalizacion" style="width: 100%;">
        <thead>
            <tr>
                <th>NOMBRE(S)</th>
                <th>APELLIDOS</th>
                <th>NO. DE CONTROL</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody style="text-align: center;">
            {% for x in TablaViews %}
            <!--cambiar  x.estadoCanalizados/x.estado seguen el estado que ocupemes ya sea canalizacion o usuarios-->
            <tr {% if x.estado == 2 or x.estado == 4 %} style="background-color: rgb(121, 154, 255);" 
            {% elif x.estado == 3 %} style="background-color: rgb(255, 121, 121);"
            {% else %} {% endif %}>
                <td>{{ x.User.first_name }}</td>
                <td>{{ x.User.last_name }}</td>
                <td>{{ x.noControl }}</td>
                <td><a class="btnExpediente" href="{% url 'Expediente' x.id %}"><i
                            class="fa-solid fa-clipboard-user"></i>Expediente</a>
                    <a class="btnBaja" href="{% url 'FormBaja' x.id %}"><i class="fa-solid fa-user-xmark"></i>Baja</a>
                {% if x.estado == 2 %}   
                    <a class="btnCanalizar" href="{% url 'FormCanalizar' x.id %}"><i
                            class="fa-solid fa-bezier-curve"></i>Canalizar</a>
                {% elif x.estado == 4 %}
                    <a class="btnCanalizar" href="{% url 'FormCanalizar' x.id %}"><i
                        class="fa-solid fa-bezier-curve"></i>En proceso de canalización</a>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<script src="{% static 'js/datatables.min.js' %}"></script>

<script>
        let table = new DataTable('#tablaCanalizacion', {
            responsive: true,
            "columnDefs": [
                {"className": "dt-center", "targets": "_all"}
            ],
            language: {
            info: 'Página _PAGE_ de _PAGES_',
            infoEmpty: 'No records available',
            infoFiltered: '(filtered from _MAX_ total records)',
            lengthMenu: '_MENU_ registros por página',
            zeroRecords: 'Nothing found - sorry',
            search: 'Buscar: '
        }
        });
</script>
{% endblock %}
