{%extends '../dashboard.html'%}
{%load static%}
{%block content%}
<link href="{% static 'css/stylesCanalizacion.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/datatables.min.css' %}" rel="stylesheet" type="text/css">
<div class="containerCanalizacion">

    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa-solid fa-users"></i>Canalización</li>
        </ol>
    </nav>

    <div class="encabezadoCanalizacion">
        
        <h3>{{request.user.usuarios.grupo}}</h3>
        {% for periodoNom in Periodo %}
        <h3>{{periodoNom.periodo}} {{periodoNom.anio}}</h3>
        {% endfor %}

        <a class="btnCerrarTutorias" href="{% url 'FormCerrarTutorias' %}"><i class="fa-solid fa-lock"></i>Cerrar
            tutorias</a>
    </div>

    <table id="tablaCanalizacion" class="tablaCanalizacion" style="width: 100%;">
        <thead>
            <tr>
                <th>NOMBRE(S)</th>
                <th>APELLIDOS</th>
                <th>NO. DE CONTROL</th>
                <th>ACCIONES</th>
            </tr>
        </thead>
        <tbody style="text-align: center;">
            {% for x in TablaViews %}
            <!--cambiar  x.estadoCanalizados/x.estado seguen el estado que ocupemes ya sea canalizacion o usuarios-->
            <tr {% if x.estado == 2 or x.estado == 4 %} style="background-color: rgb(121, 154, 255);" 
            {% elif x.estado == 3 %} style="background-color: rgb(255, 121, 121);"
            {% else %} {% endif %}>
                <td>{{ x.User.first_name }}</td>
                <td>{{ x.User.last_name }}</td>
                <td>{{ x.noControl }}</td>
                <td><a class="btnExpediente" href="{% url 'Expediente' x.id %}"><i
                            class="fa-solid fa-clipboard-user"></i>Expediente</a>
                    <a class="btnBaja" href="{% url 'FormBaja' x.id %}"><i class="fa-solid fa-user-xmark"></i>Baja</a>
                {% if x.estado == 2 %}   
                    <a class="btnCanalizar" href="{% url 'FormCanalizar' x.id %}"><i
                            class="fa-solid fa-bezier-curve"></i>Canalizar</a>
                {% elif x.estado == 4 %}
                    <a class="btnCanalizar" href="{% url 'FormCanalizar' x.id %}"><i
                        class="fa-solid fa-bezier-curve"></i>En proceso de canalización</a>
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<script src="{% static 'js/datatables.min.js' %}"></script>
<script src="https://kit.fontawesome.com/76cbf2a826.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        $('#tablaCanalizacion').DataTable({
        responsive: true,
        "columnDefs": [{
            "className": "dt-center",
            "targets": "_all"
        }],
        language: {
      "decimal": "",
      "emptyTable": "No hay información",
      "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
      "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
      "infoFiltered": "(Filtrado de _MAX_ total entradas)",
      "infoPostFix": "",
      "thousands": ",",
      "lengthMenu": "Mostrar _MENU_ Entradas",
      "loadingRecords": "Cargando...",
      "processing": "Procesando...",
      "search": "Buscar: ",
      "zeroRecords": "Sin resultados encontrados",
      "paginate": {
          "first": "Primero",
          "last": "Ultimo",
          "next": "Siguiente",
          "previous": "Anterior"
      }
    },
    });
});

</script>
{% endblock %}
