{%extends '../dashboard.html'%}
{%load static%}
{% block stylecontent %}
<link href="{% static 'css/stylesCanalizacion.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/datatables.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{%block content%}
<div class="containerReportes">
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><i class="fa-solid fa-users"></i><a href="{% url 'Dashboard' %}">Canalización</a>
            </li>
            <li class="breadcrumb-item"><i class="fa-solid fa-users"></i><a href="{% url 'Expediente' %}">Expediente</a>
            </li>
            <li class="breadcrumb-item" aria-current="page">Reportes</li>
        </ol>
    </nav>

    <div class="encabezadoReportes">
        <h3>9-IDG-1</h3>
        <select id="" name="" class="selectCiclo">
            <option value="">Enero-Abril 2024</option>
            <option value="">Agosto-Diciembre 2023</option>
        </select>
        <a class="btnReportes" href="#"><i class="fa-solid fa-file-pdf"></i>Reporte
            general</a>
    </div>

    <div class="cardReportes">

        <table id="tablaReportes" class="tablaReportes" style="width: 100%;">
            <thead>
                <tr>
                    <th>AREA</th>
                    <th>NOMBRE(S)</th>
                    <th>APELLIDOS</th>
                    <th>NO. DE CONTROL</th>
                    <th>ASUNTO DE ATENCIÓN</th>
                    <th>OBSERVACIONES</th>
                    <th>DETALLES DE LA SESIÓNS</th>
                    <th>FECHA</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                {% for reporte in reportes_data %}
                <tr style="background-color: rgb(173, 173, 173);">
                    <td>{{ reporte.area }}</td>
                    <td>{{ reporte.nombre }}</td>
                    <td>{{ reporte.apellidos }}</td>
                    <td>{{ reporte.no_control }}</td>
                    <td>{{ reporte.asunto_atencion }}</td>
                    <td>{{ reporte.observaciones }}</td>
                    <td>{{ reporte.detalles }}</td>
                    <td>{{ reporte.fecha }}</td>
                    <td><a class="btnReportesIcon" href="#"><i class="fa-solid fa-file-pdf"></i></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% endblock %}
    <script src="../../static/js/datatables.min.js"></script>
    <script src="https://kit.fontawesome.com/76cbf2a826.js" crossorigin="anonymous"></script>
    <script>
        let table = new DataTable('#tablaReportes', {
            responsive: true,
            "columnDefs": [
                { "className": "dt-center", "targets": "_all" }
            ],
            language: {
                info: 'Página _PAGE_ de _PAGES_',
                infoEmpty: 'No records available',
                infoFiltered: '(filtered from _MAX_ total records)',
                lengthMenu: '_MENU_ registros por página',
                zeroRecords: 'Nothing found - sorry',
                search: 'Buscar: '
            }
        });
    </script>